<div class="crear-tarea">

  <div class="container container-fluid crear-tarea__container">
    <h2 class="bold"><i class="fas fa-plus"></i> Nueva tarea</h2>
    <h3 class="mt-3"> Titulo </h3>
    <form action="" class="formulario">
      <input type="text" class="input-titulo" placeholder="Ingrese titulo...">
      <div class="form-check mt-2">
        <label class="form-check-label" for="flexCheckDefault">
          Tarea completada
        </label>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      </div>
      <button class="btn btn-light medium"><i class="fas fa-plus "></i> GUARDAR TAREA</button>

    </form>

  </div>

</div>

<div class="lista-de-tareas container mt-5">
  <div class="busqueda">
    <h1><i class="fas fa-list"></i> Lista de tareas</h1>

    <form class="busqueda__caja">
      <input class="busqueda__input" type="text" placeholder="Buscar..." name="busqueda" [(ngModel)]="busqueda">
    </form>

  </div>

  <div class="mostrar-tareas mt-3">

    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="col-sm-1">Id</th>
                <th class="col-sm-7">Mis Tareas</th>
                <th class="col-sm-2">Completadas</th>
                <th class="col-sm-2">Borrar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tarea of tareas | search:busqueda | pagination:paginacion">
                <th>{{ tarea.id }}</th>
                <td> {{ tarea.title }} Mark</td>
                <td>
                  <input [(ngModel)]="tarea.state" class="form-check-input" type="checkbox" value=""
                    id="flexCheckDefault">
                </td>
                <td class="text-danger"><i class="fas fa-trash-alt"></i></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="paginacion mt-5 mb-5">
  <div class="wrapper">
    <div class="pagination">
      <a class="prev" (click)="paginaAnterior()"><span><i class="fas fa-angle-left"></i></span></a>
      <button  class="page">{{ pagina }}</button>
      <a class="next" (click)="paginaSiguiente()"><i class="fas fa-angle-right"></i></a>
    </div>
  </div>
</div>