<!-- alertas -->
<div *ngIf="tareaCreada">
  <app-alert (alertaCerrada)="limpiarFormulario()" [color]="'alert-success'" [texto]="'creada'"></app-alert>
</div>
<div *ngIf="tareaActualizada">
  <app-alert (alertaCerrada)="limpiarFormulario()" [color]="'alert-warning'" [texto]="'actualizada'"></app-alert>
</div>
<div *ngIf="tareaEliminada">
  <app-alert (alertaCerrada)="limpiarFormulario()" [color]="'alert-danger'" [texto]="'eliminada'"></app-alert>
</div>


<!-- crear-actualizar -->
<div class="crear-tarea">

  <div class="container container-fluid crear-tarea__container">
    <h2 class="bold"><i class="fas fa-plus"></i> Nueva tarea</h2>
    <h3 class="mt-3"> Titulo </h3>

    <form autocomplete="off" class="formulario" #formulario="ngForm" (ngSubmit)="guardarTarea(formulario)">
      <input required [(ngModel)]="tareaFormulario.title" name="title" #title="ngModel" type="text" class="input-titulo"
        placeholder="Ingrese titulo...">
      <div class="form-check mt-2">
        <label class="form-check-label" for="flexCheckDefault">
          Tarea completada
        </label>
        <input [(ngModel)]="tareaFormulario.state" name="state" #state="ngModel" class="form-check-input"
          type="checkbox" value="" id="flexCheckDefault">
      </div>
      <button type="submit" class="btn btn-light medium"><i class="fas fa-plus "></i> GUARDAR TAREA</button>

    </form>
  </div>

</div>


<!-- mostrar tabla -->
<div class="lista-de-tareas container mt-5">
  <div class="busqueda">
    <h1><i class="fas fa-list"></i> Lista de tareas</h1>

    <form class="busqueda__caja">
      <input class="busqueda__input" type="text" placeholder="Buscar..." name="busqueda" [(ngModel)]="busqueda">
    </form>

  </div>

  <div class="mostrar-tareas mt-3">


    <div class="card">
      <div class="card-body">
        <div class="table-responsive">

          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="col-sm-1">Id</th>
                <th class="col-sm-7">Mis Tareas</th>
                <th class="col-sm-2">Completadas</th>
                <th class="col-sm-2">Borrar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tarea of tareas | pagination:paginacion | search:busqueda">
                <th (click)="datosElementoAmodificar(tarea)" class="editar-tarea">{{ tarea.id }}</th>
                <td (click)="datosElementoAmodificar(tarea)" class="editar-tarea"
                  [ngClass]="{'tareaRealizada': tarea.state}"> {{ tarea.title }}</td>
                <td>
                  <input (click)="actualizarCheck($event.target,tarea)" [ngModel]="tarea.state" readonly
                    class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </td>
                <td  class="text-danger editar-tarea"><i class="fas fa-trash-alt"></i>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

</div>

<!-- paginar -->
<app-pagination [tamanoData]="tamanoDataTareas" (mostrarPaginas)="paginacion = $event"></app-pagination>